model/yolo11n_pose.mud
model/yolo11n-pose_320x224_int8.cvimodel
LaTeX/
playground/
hme_from_sona/
analytics.py
.ssh/
__pycache__/
tools/__pycache__/
pose/__pycache__
static/
TODO*.md
*PROMPT*.md
.blackboxrules
